<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.mz.study.spring.article.dao.TestDAO">
<select id="testlist" resultType="String">
	SELECT 
		user_nm
	FROM
		board
	WHERE
		idx = 41
</select>
</mapper>