table{
	border-collapse: collapse;
	table-layout: fixed;
	width:700px;
	word-break:break-all;
}
td{
	border: 1px solid gray;
}
tr{
	width:500px;
}
textarea[name=content_area]{
	border: 0;
    width: 99%;
    min-height: 400px;
    overflow-y: scroll;
    outline: none;
    resize: none;
}